<template>
  <div class="help-ico" v-if="content.length > 0">

    <i class="fa fa-info-circle" :id="getTarget" v-if="!$slots.ico && !hideIco"></i>
    <slot name="ico" :id="getTarget" v-if="$slots.ico && !hideIco"></slot>

    <b-popover :target="getTarget"
               :title="title"
               :content="content"
               :triggers="triggers"
               :placement="placement">
      <slot :id="`help-content-${hash}`" name="content"></slot>
    </b-popover>
  </div>
</template>

<script>
  import {GenerateHash} from '~/plugins/libs';

  export default {
    props: {
      target: {
        type: String,
        default: null
      },
      title: {
        type: String,
        default: ''
      },
      content: {
        type: String,
        default: ''
      },
      triggers: {
        type: String,
        default: 'hover'
      },
      placement: {
        type: String,
        default: 'top'
      },
      hideIco: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        hash: GenerateHash(5)
      }
    },
    computed: {
      getTarget() {
        return this.target ? this.target : `help-ico-${this.hash}`;
      },
      isShow() {
        return String(this.content).length > 4;
      }
    },
    mounted() {
      this.hash = GenerateHash(5);
    }
  }
</script>

<style scoped>
  .help-ico {
    display: inline-block;
  }
</style>
