<template>
  <div>

    <b-button-group class="w-100">
      <b-button size="sm" variant="success" @click="onAdd()">
        <i class="fa fa-plus"></i>
        Добавить
      </b-button>
      <b-button size="sm" @click="getList()">
        <i class="fa fa-refresh"></i>
        Обновить список
      </b-button>

      <b-form-input size="sm" class="w-25 inline-block" placeholder="Фильтр" v-model="filter"></b-form-input>
    </b-button-group>

    <div class="clearfix"></div>

    <b-table striped hover :items="domainList" :fields="table.fields" class="top-15">

      <template slot="name" slot-scope="data">
        {{data.value}}
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">

          <i class="fa fa-lock" v-if="data.item.name === 'localhost'"></i>

          <help :target="`b-${data.index}`" placement="left" content="Сделать бэкап" v-else>
            <b-button size="sm" :id="`b-${data.index}`" slot="ico" @click="onBackup(data.item)">
              <i class="fa fa-download"></i>
            </b-button>
          </help>

          <help :target="`oc-${data.index}`" placement="top" content="Открыть каталог">
            <b-button size="sm" class="left-5" :id="`oc-${data.index}`" slot="ico" @click="onOpenDir(data.item)">
              <i class="fa fa-folder-open-o"></i>
            </b-button>
          </help>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item)">
            <i class="fa fa-trash"></i>
          </b-button>

        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="domainList.length"
                    :per-page="table.perPage"
                    v-model="currentPage"
                    v-if="domainList > table.perPage"/>
    </div>

    <b-modal ref="modal" centered hide-header no-close-on-esc no-close-on-backdrop>

      <div class="wrap top-10">
        <b-form-group>
          <small>Название</small>
          <b-form-input size="sm" v-model="edit.name"></b-form-input>
        </b-form-group>


      </div>

      <div slot="modal-footer" class="w-100 text-right">
        <b-button size="sm" @click="$refs.modal.hide()">Отмена</b-button>
        <b-button size="sm" variant="success" @click="onSave()" class="left-5">Сохранить</b-button>
      </div>
    </b-modal>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isRename: false,
        filter: '',
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название домена'
            },
            actions: {
              label: ''
            }
          }
        },
        www: '',
        edit: {
          name: ''
        }
      }
    },
    computed: {
      domainList() {
        return this.table.list.filter(item => {
          return String(item.name).includes(this.filter);
        });
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$API.Domains.getList().then(res => {
          this.www = res.www;
          let arr = [];
          res.list.forEach(item => {
            arr.push({name: item});
          });
          this.table.list = arr;
        }).catch(e => {
          this.$notify('error', 'Исправь настройки расположения Open Server')
        });
      },
      onAdd() {
        this.$refs.modal.show();
      },
      onSave() {
        this.$API.Domains.save(this.edit)
          .then(() => {
            this.getList();
            this.$refs.modal.hide();
            this.$store.dispatch('RESTART_OS');
          })
          .catch(e => {
            this.$refs.modal.hide();
          });
      },
      onOpenDir(item) {
        this.$API.Domains.openDir({root: this.www, dir: item.name});
      },
      onBackup(item) {
        if (String(this.$store.state.ENV.BACKUP_DIR).length === 0) {
          return this.$notify('error', 'Не указан каталог для бэкапов');
        }
        this.$API.Backups.create({root: this.www, dir: item.name, type: 'files'}).then(() => {
          this.$notify('success', 'Задание поставлено в очередь на обработку');
        });
      },
      onRemove(item) {
        if (item.name === 'localhost') {
          return this.$notify('error', 'Этот домен нельзя удалить');
        }
        this.$refs.confirm.open({
          handle: () => {
            this.$API.Domains.remove(item.name).then(() => this.getList());
          }
        });
      }
    }
  }
</script>

<style scoped>
  .fa-lock {
    position: relative;
    top: 2px;
    right: 5px;
  }
</style>
