<template>
  <div>
    <b-row>
      <b-col>
        <b-card header="Нагрузка на CPU" class="bottom-15">
          <CpuLine :list="cpuList"></CpuLine>
        </b-card>

        <b-card header="Процесы Open Server" class="bottom-15">
          <!--<s-alert>В разработке</s-alert>-->
          <ProcessList :list="processes.list" :isLaunch="processes.isLaunch" :isParent="true"></ProcessList>
        </b-card>

      </b-col>

      <b-col cols="4">
        <b-card header="Память" class="bottom-15">
          <Memory v-model="ram"></Memory>
        </b-card>

        <b-card header="Информация о дисковом пространстве" class="bottom-15">
          <DriveItem v-for="(D,idx) in drives" :valueData="D" :key="idx"></DriveItem>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import Memory from '~/components/widget/memory';
  import CpuLine from '~/components/widget/cpu-line';
  import DriveItem from '~/components/widget/drive-item';
  import ProcessList from '~/components/process-list';

  export default {
    data() {
      return {
        cpuList: [],
        drives: [],
        processes: [],
        ram: 0
      }
    },
    mounted() {
      this.$faye.subscribe('system/*', (cn, n) => {
        let channel = cn.split('/').pop();

        switch (channel) {
          case 'cpu':
            this.cpuList = n.cores;
            break;

          case 'memory':
            this.ram = n.usePercent;
            break;

          case 'drives':
            this.drives = n;
            break;

          case 'processes':
            this.processes = n;
            break;
        }
      });
    },
    components: {
      CpuLine,
      DriveItem,
      Memory,
      ProcessList
    }
  }
</script>
